<h1>Register</h1>

<h2>Login via Social network</h2>

<%= link_to 'Twitter', '/auth/twitter' %>
<%= link_to 'Facebook', '/auth/facebook' %>
<%= link_to 'Linkedin', '/auth/linkedin' %>
<%= link_to 'Instagram', '/auth/instagram' %>

<h2>Or User Your E-mail</h2>

<%= render 'form' %>